.seach-bar{
    margin-bottom: 20px;
}

.title-subject{
    margin: 16px;
}

.noResults {
    display: block;
    padding: 15px;
    margin: 15px;
    background-color: var(--ion-color-background-card-aviso);
    font-size: 14px;
}