.fondo{
    background-color: var(--ion-color-background-card);
}

.contenido{
    min-height: 100%;
}

.header-events-title {
    margin: 15px;
    margin-top: 0px;
    padding-top: 15px;
}

.announcement{
    margin: 15px;
}