.toolbar-scholarship {
    --background: var(--ion-color-background-card) !important;
}
.content-scholarship {
    --background: var(--ion-color-background-card) !important;
}
.content-scholarships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button-events {
    width: 43%;
}

app-card-scholarship {

    height: 150px;
    // background: grey
    width: 45%;
    margin: 2.5%;
}

.legend {
    margin: 5% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .timetable {
        display: -webkit-box;
        font-size: 0.75em;
        margin: 5px 5px;
        height: 15px;
        width: 45%;
        text-overflow: ellipsis;
        overflow: hidden;

        .square {
            margin-right: 4%;
            min-width: 20px;
            width: 20px;
        }
        .square.undefined {
          background: var(--ion-color-indefinit);
        }
        .square.open-soon {
          background: var(--ion-color-obreaviat);
        }
        .square.opened {
          background: var(--ion-color-obert);
        }
        .square.closed {
          background: var(--ion-color-terminitancat);
        }
    }

}
