
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot=start  color=" white"> 
      <ion-back-button [defaultHref]="['/pages/professorat/'+classId+'/'+profileId]"></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" *ngIf="professorat">
  <h2 id="nom"> <b> {{professorat.nom_prof}} </b></h2>
  <div id="info">
    <p><b>Horaris de consulta: </b></p>
    <ion-item class= "horaris" *ngFor= "let horari of professorat.consultes"> 
      <p id="x">{{horari}} </p>
    </ion-item>
  </div>

  <ion-item id="seleccio">
    <ion-select interface="popover" id="dia" placeholder="Dia" [(ngModel)]="diaSeleccionat" (ngModelChange)="horesDisponibles(diaSeleccionat)"  >
      <ion-select-option *ngFor="let dia of diesLliures" value="{{dia}}">{{this.setmana[dia.getDay()]}}, {{dia.getDate()}} {{this.mes[dia.getMonth()]}}</ion-select-option>
    </ion-select>

    <ion-select interface="popover" id="hora" placeholder= "Hora" [(ngModel)]="horaSeleccionada">
      <ion-select-option *ngFor="let horari of horesLliures" value="{{horari}}">{{('0'+horari.getHours()).slice(-2)}}:{{('0'+horari.getMinutes()).slice(-2)}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button class="add-book-room-button" shape="round" expand="block" color="primary"  mode="ios" (click)="clicked()">Sol·licitar consulta</ion-button>

</ion-content>


