.content-libraries {
    --background: var(--ion-color-background-gray) !important;
}

.subcontent-libraries {
    display: flex;
    flex-wrap: wrap;
}

.card-library {
    width: 45%;
    margin: 2.5%;
    // height: 30%;
    background-color: white;
}
.img-card-library {
    position: relative;
    height: 100px;
    // max-height: 40%;
    }

.img-oppacity {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 64, 101, 0.3);
    align-content: center;
    align-items: center;
    justify-content: center;
    }
    
.img-library {
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.info-library {
    padding: 10px;
    color: var(--ion-color-text-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.location-icon {
    width: 13%;
    margin-left: 5px;
}
.distance-library {
    display: flex;
}

.progressbar-ocupancy-rate {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

.icon-library {
    width: 15%;
}
.progress-rate {
    width: 80%;
    margin-left: 5px;
}

.label-soft-red {
    color: #F45A71
}

.label-soft-grey {
    color: var(--ion-color-text-card);
}