
.expand-wrapper {
    // transition: 0.2s linear;
    // animation: fadeInDown 1s linear 1; // Change seconds from time question

    // @keyframes fadeInDown {
    //     0% {
    //       width: 0%;
    //     }
    //     100% {
    //       width: 100%;
    //     }
    //   }
    
}  

.collapsed {
    height: 0 !important;
    width: 0 !important;
    // background-color: rebeccapurple;
    display: none;
    
}


.expand-wrapper {
    color: black !important;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    padding: 6px 16px;
    font-size: 90%;
    padding-top: 0px;
    background-color: transparent;
}


